.shadow-box{
    box-shadow: 2px 4px 5px #000;
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 30%;
    padding: 15px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
body{
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
}
